

.banner {
    background: blue;
    text-align: center;
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    flex-wrap: wrap;
   
}


.topborderline {
    text-align: center;
    border-top: solid 2px red;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
}
.contactinfo {
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
    background-color: cyan;
    min-width: 70vw;
}

input,
label {
    display: block;
}

label {
    padding-bottom: 8px;
    padding-top: 8px;
}
input {
    background: rgb(193, 213, 250);
    border: none;
    padding: 15px;
}



/*
input[type="text"] {
    background: chartreuse;
}
*/

.zipinput {
    max-width: 30%;
}
