body {
    margin: 0;
}

.banner {
    background: blue;
    text-align: center;
}

.subheader {
    text-align: center;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
label {
    flex-grow: 5;
}

input {
    background: rgb(193, 213, 250);
    border: none;
}

/*
input[type="text"] {
    background: chartreuse;
}
*/

.zipinput {
    max-width: 80px;
}
